.parent-pull-container{
    width: 100%;
    overflow: auto;

    .header-style{
        width: 100%;
        border-bottom: 1px solid;
        >p{
            margin-left: 10px;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .content-card-container{
        width: 100%;
        min-height: 60px;
        border-bottom: 1px solid;
        margin: auto;
    
        .card-header, .card-info{
            max-width: 95%;
            height: 20px;
            margin: auto;
            margin-top: 5px;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            white-space: nowrap;     
            overflow: hidden; 
            text-overflow: ellipsis; 
            cursor: pointer;
        }
    
        .card-info{
            font-size: 12px;
            font-weight: 400;
        }
    
    }
}