.parent-pull-container{
    width: 100%;
    overflow: auto;

    .header-style{
        width: 100%;
        border-bottom: 1px solid #C1C1C1;
        display: flex;
        justify-content: space-between;
        >p{
            margin-left: 10px;
            font-size: 16px;
            font-weight: bold;
        }
        .view-all-btn{
            margin-top: 10px;
            margin-right: 10px;
        }
    }

    .no-data-style{
        width: 100%;
        height: 60vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
    }
}